.table-row .mdc-layout-grid__inner {
    background-color: rgb(255, 102, 0);
    background-image: -webkit-linear-gradient(-30deg, rgb(244, 76, 37) 50%, black 50%);
    margin-bottom: 30px;
}
.mdc-layout-grid__inner {
    grid-gap: 0px;
}
.mdc-layout-grid {
    padding: 0;
}
.table-field {
    font-size: 24px;
    font-family: 'Roboto';
}
.data-table {
    padding: 4px 20px 4px 20px;
}
.genera-row {
    padding: 0px 20px 0px 20px;

}
.description-row {
    padding: 0px 20px 0px 20px;
}
.data-grid-row {
    border-bottom: 0px;
    padding-bottom: 1px;
    background: rgb(150, 150, 150);
}
.main-grid {
    background-image: -webkit-linear-gradient(-20deg,
        rgb(245, 225, 224) 5%,
        rgb(244, 82, 57) 5%,
        rgb(244, 82, 57) 15%,
        rgb(249, 116, 73) 15%,
        rgb(249, 116, 73) 85%,
        rgb(244, 82, 57) 85%,
        rgb(244, 82, 57) 95%,
        rgb(245, 225, 224) 95%,
        rgb(245, 225, 224));
    padding: 20px;
    max-width: 1200px;
}
.image-grid {
    display: block;
    height: 100%;
}
.image-grid > div {
    display: grid;
    height: 100%;
}
.image-holder {
    text-align: center;
    align-self: center;
}
.toggle-menu {
    position: relative;
    margin-bottom: -60px;
    z-index: 40;
}
.toggle-menu button i {
    font-size: 40px;
    color: black;
}
.search-result > div {
    position: fixed;
    overflow: auto;
    max-height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.search-result div {
    background-color: white;
}
.button-bar button {
    margin-left: 20px;
}
.button-bar button i {
    font-size: 40px;
    font-weight: bold;
}
.button-bar .icon-on {
    color: rgb(175, 160, 139);
}
p {
    font-family: 'Roboto';
}